{% extends 'base.html' %}

<!--loading statics files-->
{% load static %}


<!--title-->
{% block title %}
Suppliers
{% endblock %}


<!--loading css file-->
{% block extra_css %}
<link href="{% static 'css/supplier.css' %}" rel="stylesheet">
{% endblock %}


<!--main content-->
{% block content %}
<div class="container  mt-5 px-5">
    <h2 class="fw-bold">Suppliers</h2>
    <!--  search bar and add supplier button-->
    <div class="row">
        {% include 'components/search-bar.html' with btn_value="Add supplier" target_modal="#SupplierModal" %}

    </div>

    <!--  supplier list-->
    <div class="row">
        {% for target in suppliers %}
        {% include 'components/supplier_supermarket_card.html' with target_url="supplier-detail" %}
        {% endfor %}


        <!-- ِAdd Supplier Modal -->
        {% include 'shipments/supplier-form-modal.html' %}

    </div>

</div>

<div class="pagination-wrapper text-center mt-4">
    {% include 'components/pagination.html' %}
</div>
{% endblock %}


{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Make sure Bootstrap is fully loaded before referencing Modal
            if (typeof bootstrap !== 'undefined') {
                {% if show_modal %}
                    var supplierModal = document.getElementById('SupplierModal');
                    if (supplierModal) {
                        var modal = new bootstrap.Modal(supplierModal);
                        modal.show();
                    }
                {% endif %}

                var supplierModalElement = document.getElementById('SupplierModal');
                if (supplierModalElement) {
                    supplierModalElement.addEventListener('hidden.bs.modal', function () {
                        const form = this.querySelector('form');
                        if (form) form.reset();
                    });
                }
            } else {
                console.error('Bootstrap is not loaded properly');
            }
        });
    </script>
{% endblock %}
