<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card rounded-4">
        <div class="card-body">
            <a href="" class="text-decoration-none text-dark">
                <p class="email card-text fw-bold">
                    {% if item.supermarket %}
                        {{ item.supermarket.email }}
                    {% elif item.supplier %}
                        {{ item.supplier.email }}
                    {% endif %}
                </p>
            </a>
            <div class="mt-3">
                <span class="text-muted">Status</span>
                <p class="card-text">
                    <span class="status badge bg-primary-subtle text-primary">{{ item.get_status_display }}</span>
                </p>
            </div>

            <div class="mt-3">
                <span class="text-muted">Date</span>
                <p class="card-text text-muted">
                    <span class="date">{{ item.access_date }}</span>
                </p>
            </div>

            <div class="mt-3">
                <span class="text-muted">Items count</span>
                <p class="card-text text-muted">
                    <span class="items-count">{{ item.items.count }}</span>
                </p>
            </div>
            <div class="mt-3">
                <span class="text-muted">Reference number</span>
                <p class="card-text text-muted">
                    <span class="items-count">{{ item.reference_number }}</span>
                </p>
            </div>

            <div class="row justify-content-around action mt-3">
                <a href=""
                   class="btn btn-outline-success btn-sm col-4">edit</a>
                <a href="" class="btn btn-outline-danger btn-sm col-4">delete</a>
            </div>
        </div>
    </div>
</div>