<div class="col col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card rounded-4">
        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
             alt="" class="card-img-top rounded-top-4">
        <div class="card-body">
            <h5 class="card-title">Sunset</h5>
            <p class="card-text description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et
            </p>
            <p class="card-text">Copies Available</p>
            <p class="card-text">
                <!-- bg-warning-subtle text-warning for critical quantity-->
                <!-- bg-danger-subtle text-danger for 0 quantity-->
                <span class="current-quantity badge bg-success-subtle text-success">726</span>
            </p>
            <div class="row action">
                <a href="" class="btn btn-outline-success btn-sm">edit</a>
                <a href="" class="btn btn-outline-danger btn-sm">delete</a>
            </div>

        </div>
    </div>
</div>