{% load static %}

<div class="col-md-2 sidebar" id="sidebar">
    <div
            class="sidebar-header d-flex align-items-center justify-content-between py-3 mb-4"
    >
        <a href="#" class="home-icon"><i class="fas fa-home"></i></a>
        <a href="#" class="toggle-icon" id="sidebarToggle"
        ><i class="fas fa-bars"></i
        ></a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">
                <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'product-list' %}">
                <i class="fas fa-box"></i> <span>Inventory</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-truck"></i> <span>Shipments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-shopping-cart"></i> <span>Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'suppliers-list' %}">
                <i class="fa-solid fa-industry"></i><span>Suppliers</span>
            </a>
        </li>
    </ul>
    <div class="user-profile mt-auto">
        <div class="d-flex align-items-center p-3" id="userProfileToggle">
            <img
                    src="https://via.placeholder.com/36"
                    alt="User avatar"
                    class="avatar"
            />
            <div class="user-info">
                <div class="user-name">Mo Elbanna</div>
                <div class="user-email">m@a.com</div>
            </div>
            <i class="fas fa-chevron-down ms-auto"></i>
        </div>
        <div class="account-dropdown" id="accountDropdown">
            <div class="dropdown-item">
                <i class="fas fa-cog"></i>
                <span>Account Settings</span>
            </div>
            <div class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i>
                <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color: inherit; font: inherit;">
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>