<div class="col-12 col-lg-4 p-3 ">
    <div class="card ">
        <a class="text-decoration-none " href="{% url 'get_supplier_details' target.id %}
" role="button">
            <div class="card-body ">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title fw-bold mb-0 text-capitalize text-black">{{target.name}}</h5>
                    <span class="badge rounded-pill {% if target.is_active %}bg-success{% else %}bg-danger{% endif %}">
                        {% if target.is_active %}Active{% else %}Inactive{% endif %}
                    </span>
                </div>
                <h6 class="card-subtitle mb-3 text-body-secondary "><i
                        class="fa-regular fa-envelope "></i> {{target.email}}</h6>
                <h6 class="card-subtitle mb-3 text-body-secondary ">
                    <i class="fa-solid fa-phone"></i> {{target.phone}}</h6>
                <h6 class="card-subtitle mb-3 text-body-secondary text-truncate">
                    <i class="fa-solid fa-location-dot"></i>
                    {{target.address}}
                </h6>
                <div class="d-flex align-items-center mb-3">
                    <h6 class="card-subtitle text-body-secondary my-0 me-2"><i class="fa-solid fa-truck"></i>
                        Purchase shipments
                    </h6>
                    <span class="badge text-body-secondary rounded-pill" style="background-color: #448886">
                        {{target.total_purchase_shipments}}
                    </span>

                </div>
                <div class="d-flex  ">
                    <h6 class="card-subtitle my-0 text-body-secondary me-2"><i class="fa-solid fa-cart-shopping"></i>
                        Purchase orders
                    </h6>
                    <span class="badge text-body-secondary rounded-pill" style="background-color: #448886">
        {{target.total_purchase_orders}}
    </span>
                </div>
            </div>
        </a>
    </div>
</div>

