<div class="card p-0 my-5 text-center">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="d-none d-md-block col-3">Id</div>
            <div class="col-6 col-md-4">Product Name</div>
            <div class="col-4 col-md-3">Quantity</div>
            <div class="col-2 text-end"></div>
        </div>
    </div>
    <div class="card-body">
        {% if not items %}
            <div class="d-flex flex-column justify-content-center align-items-center p-5">
                <i class="fa-solid fa-inbox fa-6x text-secondary"></i>
                <p class="text-muted fw-bold mt-3">No purchase orders yet</p>
            </div>
        {% else %}
            {% for item in items %}
                <div class="row border-bottom border-light-subtle py-3">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="d-none d-md-block col-3">{{ item.id }}</div>
                            <div class="col-6 col-md-4">{{ item.product.name }}</div>
                            <div class="col-4 col-md-3">{{ item.quantity }}</div>
                            <div class="col-2 text-end">
                                <div class="dropdown">
                                    <button class="btn border rounded-3 p-1 px-2 btn-light btn-sm no-arrow"
                                            type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu rounded-3 px-2 dropdown-menu-end"
                                        aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <form method="post" action="{% url 'orders:edit_order_item' item.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item rounded-2">Edit</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" action="{% url 'orders:delete_order_item' item.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item rounded-2">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>