{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="container px-5 mt-5">
        <section class="info row">
            <div class="order-info col-12" data-supermarket-id="{{ order.supermarket.id }}">
                <div class="row border-bottom border-light-subtle py-3">
                    <span class="col-3">Reference Number</span>
                    <span class="col-9">{{ order.reference_number }}</span>
                </div>
                <div class="row d-flex border-bottom border-light-subtle py-3 align-items-center">
                    <span class="col-3">Order status</span>
                    <span class="col-9">{{ order.get_status_display }}</span>
                </div>
                <div class="row border-bottom border-light-subtle py-3">
                    <span class="col-3">Order date</span>
                    <span class="col-9">{{ order.access_date|date:"n/j/Y, g:i A" }}</span>
                </div>
                <div class="row border-bottom border-light-subtle py-3">
                    <span class="col-3">Products count</span>
                    <span class="col-9" id="order-count">{{ order.items.count }}</span>
                </div>
                <div class="row py-3">
                    <span class="col-3">Customer</span>
                    <span class="col-9" id="customer-email">{{ order.supermarket.email }}</span>
                </div>
                {% if order.status == "NW" %}
                    <div class="order-controls col-12 d-flex my-3 gap-3 mt-5">
                        <form method="post" action="{% url 'orders:place_order' %}">
                            {% csrf_token %}
                            <button type="submit" class="button-primary">Place Order</button>
                        </form>
                        <button class="button-secondary" id="cancel-order-btn">Cancel</button>
                    </div>
                {% elif order.status == "PN" %}
                    <div class="order-controls col-12 d-flex my-3 gap-3 mt-5">
                        <form method="post" action="{% url 'orders:update-status' reference_number %}">
                            {% csrf_token %}
                            <button type="submit" class="button-primary" name="confirm">Confirm Order</button>
                        </form>
                    </div>
                {% else %}
                    <div class="order-controls col-12 d-flex my-3 gap-3 mt-5">
                        <form method="post" action="{% url 'orders:update-status' reference_number %}">
                            {% csrf_token %}
                            <button type="submit" class="button-primary mb-3" name="update">Update Status</button>
                            <select class="col-2 form-select" id="order-status-dropdown">
                                <option value="confirmed" {% if order.status == "confirmed" %}selected{% endif %}>
                                    Confirmed
                                </option>
                                <option value="shipped" {% if order.status == "shipped" %}selected{% endif %}> Shipped
                                </option>
                                <option value="delivered" {% if order.status == "delivered" %}selected{% endif %}>
                                    Delivered
                                </option>
                                <option value="cancelled" {% if order.status == "cancelled" %}selected{% endif %}>
                                    Cancelled
                                </option>
                            </select>

                        </form>
                    </div>
                {% endif %}


            </div>
        </section>

        <section class="order-products row">
            <div class="container mt-5">
                <div class="row">
                    {% include 'components/search-bar.html' with btn_value="Add Product" target_modal="#addProductRecordModal" %}
                </div>
                <div class="row px-2">


                    {% include 'components/table-card.html' with items=order_items %}

                </div>
            </div>
        </section>
    </div>

    {% include 'orders/add-record-modal.html' %}
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('cancel-order-btn').addEventListener('click', function () {
            if (confirm('Are you sure you want to cancel this order?')) {
                fetch("{% url 'orders:cancel_order' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '{% url "orders:orders-list" %}';
                    } else {
                        alert('Failed to cancel the order.');
                    }
                });
            }
        });
    </script>
{% endblock %}