{% extends 'base.html' %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <div class="container px-5 mt-5">

        <section class="info row">
            <div class="order-info col-12">
                <div class="row border-bottom border-light-subtle py-3 ">
                    <span class="col-3">Reference Number</span>
                    <span class="col-9">3324-43433-3232323</span>
                </div>
                <div class="row border-bottom border-light-subtle py-3 ">
                    <span class="col-3">Order status</span>
                    <span class="col-9">New</span>
                </div>
                <div class="row border-bottom border-light-subtle py-3 ">
                    <span class="col-3">Order date</span>
                    <span class="col-9">3/21/2025, 9:52 AM</span>
                </div>
                <div class="row border-bottom border-light-subtle py-3 ">
                    <span class="col-3">Order count</span>
                    <span class="col-9">0</span>
                </div>
                <div class="row py-3 ">
                    <span class="col-3">Customer</span>
                    <!--here we will use the supermarkets.all to get the drop menu -->
                    <span class="col-9">mustafa@gmail.com</span>
                </div>
                <div class="order-controls col-12 d-flex my-3 gap-3 mt-5">
                    <button class="button-primary">Confirm Order</button>
                    <button class="button-secondary">Cancel</button>
                </div>
            </div>
        </section>
        <section class="order-products row">
            <div class="container mt-5">
                <div class="row">
                    {% include 'components/search-bar.html' with btn_value="Add Order" target_modal="#addProductRecordModal" %}
                </div>
                <div class="row px-2">

                    {% include 'components/table-card.html' %}
                </div>
            </div>
        </section>
    </div>

    {% include 'orders/add-record-modal.html' %}





{% endblock %}